<div class="container">
  <button class="container__button"
          (click)="btnClick()">
    <a class="container__page-title">Eagle Booking</a>
  </button>

  <span class="spacer"></span>

  <button class="container__message" mat-icon-button
          (click)="messageClick()">
    <mat-icon class="container__message_icon">message
    </mat-icon>
  </button>

  <img src="../../../assets/images/flag-icon-pl.webp"
       class="container__flag">


  <button mat-button class="container__user-info"
          (click)="accountClick()">
    <mat-icon class="container__user-info__icon">
      account_circle
    </mat-icon>
    <div class="container__user-info__center">
      <p class="container__user-info__nick">Twoje konto</p>
      <p class="container__user-info__nick">Robert Kubica</p>
    </div>
  </button>

</div>

