.spacer {
  flex: 1 1 auto;
}

.container {
  background: #3f51b5;
  height: 90px;
  display: flex;
  gap: 10px;
  align-items: center;

  &__button {
    background: #3f51b5;
    outline: none;
    box-shadow: none;
    color: white;
    border: none;
  }

  &__page-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    display: flex;
  }

  &__message {

    &__icon {
      color: white;
    }
  }

  &__icon {
    font-size: 60px;
    height: 60px;
    width: 60px;
  }

  &__flag {
    width: 25px;
    height: 25px;
    margin-right: 12px;
  }

  &__user-info {
    margin-right: 50px;
    height: 80px;
    display: flex;
    justify-content: space-around;

    &__icon{
      transform: scale(3);
      margin-right: 10px;
    }
    &__center{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__nick {
      margin: 0 20px;
      font-size: 14px;
      color: white;
    }
  }

}
