HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/static/assets/images/Accom/1/1.jpg
/src/main/resources/static/assets/images/Accom/2/1.jpg
/src/main/resources/static/assets/images/Places/Place1/1.jpg
/src/main/resources/static/assets/images/Places/Place2/1.jpg
/src/main/resources/static/assets/images/Places/Place3/1.jpg
/src/main/resources/static/assets/images/Places/Place4/1.jpg
/src/main/resources/static/assets/images/Places/Place5/1.jpg
/src/main/resources/static/assets/images/Places/Place6/1.jpg
/src/main/resources/static/assets/images/Places/Place1/2.jpg
/src/main/resources/static/assets/images/Places/Place2/2.jpg
/src/main/resources/static/assets/images/Places/Place3/2.jpg
/src/main/resources/static/assets/images/Places/Place4/2.jpg
/src/main/resources/static/assets/images/Places/Place5/2.jpg
/src/main/resources/static/assets/images/Places/Place6/2.jpg
/src/main/resources/static/assets/images/Places/Place1/3.jpg
/src/main/resources/static/assets/images/Places/Place2/3.jpg
/src/main/resources/static/assets/images/Places/Place3/3.jpg
/src/main/resources/static/assets/images/Places/Place4/3.jpg
/src/main/resources/static/assets/images/Places/Place5/3.jpg
/src/main/resources/static/assets/images/Places/Place6/3.jpg
/src/main/resources/static/assets/images/Places/Place1/4.jpg
/src/main/resources/static/assets/images/Places/Place4/4.jpg
/src/main/resources/static/assets/images/Places/Place5/4.jpg
/src/main/resources/static/assets/images/Places/Place6/4.jpg
/src/main/resources/static/assets/images/Places/Place1/5.jpg
/src/main/resources/static/main.f5ae1276655c227c.js
/src/main/resources/static/styles.af0e0166b9ff2360.css
