<div class="container" style="position: relative">
  <div class="container__base_info">
    <div *ngIf="reservation">
      <app-single-booking-info class="" [reservation]="reservation"></app-single-booking-info>
    </div>
  </div>

  <div class="container__action">
    <div>
      <div class="place-info">
        <p class="place-info__accommodation">{{reservation?.accomodationName}}</p>
        <mat-icon class="place-info__icon">brightness_1</mat-icon>
        <p class="place-info__place">{{reservation?.accomodationPlaceName}}</p>
      </div>
      <div class="host_info">
        <img mat-card-avatar class="header-image" src="{{reservation?.mainPlacePhotoUrl}}" style="width: 50px; height: 50px">
        <p class="host_info__name">{{reservation?.accomodationPlaceUserName}}</p>
      </div>
    </div>
    <span class="spacer"></span>

    <div class="buttons">
      <button mat-stroked-button
              id="cancel-btn"
              [disabled]="isEditBlocked()"
              (click)="openCancelDialog()">
        Cancel Booking
      </button>
      <button mat-icon-button>
        <mat-icon>chat</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>warning</mat-icon>
      </button>
    </div>

  </div>

  <div class="container__other">
    <p class="container__other__description">
      {{reservation?.accomodationPlaceDescription}}. {{reservation?.accomodationDescription}}
    </p>
    <div class="container__other__rating">
      <div>
        <p>Fill your opinion:</p>
        <app-ranking-star></app-ranking-star>
      </div>
    </div>
  </div>
</div>
