<div class="container">

  <div class="container__buttons">
    <button mat-button
            color="primary"
            class="container__buttons__back-button"
            (click)="return()">
      <mat-icon class="container__buttons__back-button__icon">keyboard_arrow_left</mat-icon>
      <p class="container__buttons__back-button__text">Powrót</p>
    </button>

    <button mat-raised-button
            color="primary"
            class="container__buttons__new-place-button"
            (click)="newPlace()">
      <p class="container__buttons__new-place-button__name">Dodaj obiekt</p>
    </button>
  </div>


  <p class="container__title">Twoje obiekty</p>

  <ul class="container__list">
    <li *ngFor="let place of places">
      <app-single-place-card [place]="place"></app-single-place-card>
    </li>
  </ul>


</div>
