<mat-toolbar color="primary"
             class="toolbar">
  <a>
    <button mat-button
            class="toolbar__disabled-button"
            id="res-nav-btn"
            (click)="bookingClick();">
      <p class="toolbar__disabled-button__text">Rezerwacje</p>
    </button>
  </a>

  <a class="toolbar__vl"></a>

  <a>
    <button mat-button
            disabled
            class="toolbar__disabled-button">
      <p class="toolbar__disabled-button__text">Najnowsze okazje</p>
    </button>
  </a>

  <a class="toolbar__vl"></a>

  <a>
    <button mat-button
            disabled
            class="toolbar__disabled-button">
      <p class="toolbar__disabled-button__text">Destynacje podróżnicze na czasie</p>
    </button>
  </a>

  <a class="toolbar__vl"></a>

  <a>
    <button mat-button
            disabled
            class="toolbar__disabled-button">
      <p class="toolbar__disabled-button__text">Atrakcje</p>
    </button>
  </a>

  <a class="toolbar__vl"></a>

  <a>
    <button mat-button
            class="toolbar__enabled-button"
            (click)="btnClick();">
      <p class="toolbar__enabled-button__text">Obiekty</p>
    </button>
  </a>
</mat-toolbar>
