.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;

  &__bar {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__back-button {
      display: flex;
      flex-direction: row;
      width: 200px;
      height: 40px;

      &__icon {
        padding-bottom: 10px;
        font-size: 24px;
      }

      &__text {
        margin: auto;
        font-size: 20px;
      }
    }

    &__option-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;

      &__button {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 40px;

        &__text {
          margin: auto;
          font-size: 20px;
        }
      }

      &__edit-icon {
        display: flex;
        width: 40px;
        height: 40px;

        &__icon {
          display: flex;
          margin: auto;
          width: 40px;
          height: 40px;
          font-size: 40px;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
    justify-content: space-between;
    border-top: 3px solid black;

    &__description-part {
      margin-top: 50px;
      display: flex;
      width: 50%;
      flex-direction: column;

      &__description {
        margin-left: 30px;
        font-size: 24px;
        font-weight: 600;
      }

      &__description-lower {
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 20px;
      }

      &__list {
        margin-left: 30px;
        margin-top: 0;
        margin-bottom: 30px;

        &__list-item {
          margin-top: 10px;
          font-size: 18px;
        }
      }

    }

    &__image-part {
      margin-top: 50px;
      display: flex;
      width: 50%;
      flex-direction: column;

      &__name-of-place {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 600;
      }

      &__mark-note {
        margin-top: 10px;
        height: 50px;
        width: 80%;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        border: 1px solid gray;
        border-radius: 10px;

        &__icon {
          display: flex;
          justify-items: flex-start;
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 12px;
          color: #3f51b5;
        }

        &__description {
          font-size: 18px;
          margin: auto 10px;
        }

      }

      &__images {
        margin-left: 20px;
        margin-top: 80px;
      }
    }

    &__vl {
      border-left: 2px solid black;
      height: 700px;
    }
  }
}
