.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &__main{
    font-weight: bold;
    font-size: 26px;
    color: gray;
  }

  &__side{
    font-size: 17px;
    color: lightgray;
  }
}
