<div class="container">
  <div class="container__search">
    <p class="container__search-text">Bookings</p>
    <mat-form-field appearance="fill">
      <mat-select [formControl]="optionControl"
                  [value]="optionControl.value"
                  (selectionChange)="filterReservation()">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <cdk-virtual-scroll-viewport appendOnly itemSize="150" class="container__list" id="booking-list">
    <div *cdkVirtualFor="let reservation of filteredReservations; index as i;" class="container__list__item">
      <app-bookings-card
        [reservation]="reservation"
        (click)="goToReservation(reservation.id)">
      </app-bookings-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
