<div class="gap"></div>
<div class="container_form">
  <div class="container_form__forms">
    <div class="container_form__forms__first-form">
      <mat-icon class="container_form__forms__first-form__icon">hotel</mat-icon>
      <p class="container_form__forms__first-form__text">Dokąd się wybierasz?</p>
    </div>

    <div class="container_form__forms__second-form">
      <mat-icon class="container_form__forms__second-form__icon">calendar_today</mat-icon>
      <p class="container_form__forms__second-form__text">Zameldowanie - Wymeldowanie</p>
    </div>

    <div class="container_form__forms__third-form">
      <mat-icon class="container_form__forms__third-form__icon">person_outline</mat-icon>
      <p class="container_form__forms__third-form__text">Ilość Osób</p>
    </div>

    <div class="container_form__forms__search">
      <p class="container_form__forms__search__text">Szukaj</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="container__covid-info">
    <div class="container__covid-info__icon-div">
      <mat-icon class="container__covid-info__icon-div__icon">error_outline</mat-icon>
    </div>
    <p class="container__covid-info__text">Otrzymaj porady, których potrzebujesz. Sprawdź najnowsze ograniczenia
      związane z COVID-19, zanim wyruszysz w podróż.</p>
    <a class="container__covid-info__text"
       href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
    >Dowiedz się więcej</a>
  </div>

  <div class="container__offer">
    <p class="container__offer__title">Oferty</p>
    <p class="container__offer__description">Promocje i oferty specjalne dla Ciebie</p>

    <div class="container__offer__single-offer">
      <img class="container__offer__single-offer__image"
           src="../../assets/images/oferta1.jpg">
      <div class="container__offer__single-offer__text">
        <p class="container__offer__single-offer__text__title">
          Hiszpania - Costa Blanca, Playa Poniente - Mañana Soleada Apartment
        </p>
        <p class="container__offer__single-offer__text__description">
          Obiekt Mañana Soleada Apartment oferuje balkon oraz widok
          na basen. Do dyspozycji Gości jest również ekspres do kawy. Odległość ważnych miejsc od obiektu:
          Plaża Playa Punta Prima – około 600 m. Obiekt zapewnia ogród oraz bezpłatny prywatny parking.
          W apartamencie zapewniono 3 sypialnie, 2 łazienki, pościel, ręczniki, jadalnię oraz kuchnię z
          pełnym wyposażeniem.Do dyspozycji Gości jest także telewizor z płaskim ekranem z dostępem do kanałów
          satelitarnych oraz taras z widokiem na morze. W apartamencie zapewniono klimatyzację oraz 2 łazienki z
          prysznicem i pralką.
        </p>
        <p class="container__offer__single-offer__text__description">
          Odległość ważnych miejsc od obiektu: Plaża Playa de Cala Ferris – 1 km, Plaża Playa de Canina – 1,8 km.
          Najbliższe lotnisko, Lotnisko Murcia, znajduje się 51 km od obiektu Fidalsa Paradise Sea Punta Prima.
        </p>

      </div>
    </div>


    <div class="container__offer__single-offer">
      <img class="container__offer__single-offer__image"
           src="../../assets/images/oferta2.jpg">
      <div class="container__offer__single-offer__text">
        <p class="container__offer__single-offer__text__title">
          Grecja - Agios Ioannis Peristeron - Aurora Beach Hotel
        </p>
        <p class="container__offer__single-offer__text__description">
          Hotel Aurora zlokalizowany jest na terenie zadbanego ogrodu, przy nabrzeżu w miejscowości Agios Ioannis
          Peristerion. Do dyspozycji Gości jest basen, restauracja oraz bar przy basenie.
          Wszystkie pokoje w hotelu Aurora zostały urządzone w kolorach ziemi i wyposażone w meble z ciemnego drewna.
          Wszystkie pokoje obejmują też własną łazienkę z bezpłatnym zestawem kosmetyków.
          Goście mogą relaksować się na tarasie słonecznym, podziwiając widok na Morze Jońskie.
        </p>
        <p class="container__offer__single-offer__text__description">
          Hotel położony jest w odległości 2,5 km od miejscowości Benitses oraz 15 km od miasta Korfu. Obiekt oddalony
          jest od portu w Korfu o 16 km, a od tamtejszego lotniska – o 14 km. Personel całodobowej recepcji służy pomocą
          w wypożyczeniu samochodu. Na miejscu usytuowany jest bezpłatny parking prywatny.
        </p>

      </div>
    </div>
  </div>
</div>
<button (click)="sendMessage('dupa', NotificationMessageType.ERROR)">klikaj wariacie </button>
