.buttons-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}


.textField {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.label-input {
  display: flex;
  align-items: center;
  margin-top: 25px;

}

.label-input label {
  margin-right: 100px;

}

.fixed-width-label {
  width: 120px;
  text-align: left;
  display: inline-block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  height: 90px;
}

.column {
  flex: 1;
  margin: 15px 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__text {
    flex-direction: column;

    &__tittle {
      margin-top: 50px;
      font-size: 24px;
      font-weight: bolder;
    }

    &__subtitle {
      margin-top: 25px;
      color: gray;
      margin-bottom: 5px;
    }

  }
}

//.Title {
//  margin-top: 50px;
//  font-size: 24px;
//  font-weight: bolder;
//}
//
//.Subtitle {
//  margin-top: 25px;
//  color: gray;
//  margin-bottom: 5px;
//}

.buttons {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;

  button {
    height: 50px;
    margin: 50px;
    display: block;
    width: 150px;
  }
}

