<div class="Title">
     Dane osobowe
  </div>
<div class="Subtitle">
     Zaktualizuj swoje dane i sprawdź, jak są wykorzystywane.
  </div>
<mat-divider></mat-divider>
<div class="row">
  <div class="label-input column">
    <label class="fixed-width-label">Imię</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.name" type="text">
    </mat-form-field>
  </div>
  <div class="label-input column">
    <label class="fixed-width-label">Nazwisko:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.lastname" type="text">
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="label-input column">
    <label class="fixed-width-label">Adres e-mail:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.email" type="text">
    </mat-form-field>
  </div>
  <div class="label-input column">
    <label class="fixed-width-label">Numer Telefonu:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.phoneNumber" type="text">
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="label-input column">
    <label class="fixed-width-label">Płeć:</label>
    <mat-form-field >
      <mat-select [(ngModel)]="user!.gender">
        <mat-option value="Kobieta">Kobieta</mat-option>
        <mat-option value="Mężczyzna">Mężczyzna</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="label-input column">
    <label class="fixed-width-label">Miasto:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.city" type="text">
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="label-input column">
    <label class="fixed-width-label">Ulica:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.street" type="text">
    </mat-form-field>
  </div>
  <div class="label-input column">
    <label class="fixed-width-label">Numer domu:</label>
    <mat-form-field >
      <input matInput [(ngModel)]="user!.house_nr" type="text">
    </mat-form-field>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row">
<div class="buttons">
    <button mat-raised-button (click)="cancel()">
      Anuluj
    </button>
    <button mat-raised-button (click)="save()">
      Zatwierdź
    </button>
</div>
</div>
