<div class="container">
  <div class="container__bar">
    <p class="container__bar__header">Dodawanie obiektu</p>
    <div class="container__bar__option-buttons">
      <button mat-raised-button
              color="primary"
              class="container__bar__option-buttons__button"
              (click)="return()">
        <p class="container__bar__option-buttons__button__text">Zatwierdź</p>
      </button>

      <button mat-raised-button
              color="primary"
              class="container__bar__option-buttons__button"
              (click)="return()">
        <p class="container__bar__option-buttons__button__text">Anuluj</p>
      </button>
    </div>
  </div>

  <div class="container__content">
    <div class="container__content__image-part">
      <app-file-upload [currentPlace]="currentPlace"></app-file-upload>
    </div>

    <div class="container__content__vl"></div>

    <div class="container__content__description-part"></div>
  </div>

</div>
