.container {
  margin: auto;
  display: flex;
  justify-content: center;

  &__bar {
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;

    &__header {
      font-size: 26px;
      font-weight: bold;
      justify-content: flex-start;
    }

    &__option-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;

      &__button {
        display: flex;
        flex-direction: row;
        width: 150px;
        height: 40px;

        &__text {
          margin: auto;
          font-size: 20px;
        }
      }
    }
  }
}
