<div class="container">

  <div class="container__add-button">

    <button mat-button
            (click)="fileInput.click()"
            class="container__add-button__input">
      <mat-icon
        class="container__add-button__input__icon">
        <img src="{{user?.imagePath}}" style="width: 17px; border-radius: 100%">
      </mat-icon>
    </button>
    <input hidden (change)="selectFile($event)" #fileInput type="file">

  </div>

  <div class="container__upload">
    <button mat-raised-button
            color="primary"
            [disabled]="!selectedFiles"
            (click)="upload()"
            class="container__upload__button">
      Zmień
    </button>
  </div>
</div>
