<div class="container">
  <div class="container__image">
    <img class="container__image__actually"
         src="../../assets/images/oferta1.jpg">
  </div>
  <div class="container__info">
    <p class="container__date">21.11.2022 - 24.11.2022</p>
    <div class="container__localization">
      <mat-icon class="icon">room</mat-icon>
      <div>
        <h2 class="big-font gray">Wrocław</h2>
        <h4 class="small-font gray">ul. Some 7/8</h4>
      </div>
    </div>
    <div class="container__payment">
      <div>
        <p class="big-font">Price:120zł</p>
        <p class="small-font">Status:UNPAYED</p>
      </div>
      <span class="spacer"></span>
      <button mat-stroked-button>
        <mat-icon>money</mat-icon>
        Pay
      </button>

    </div>
    <div class="container__people">
      <p class="small-font">People: 4</p>
    </div>
  </div>
</div>
